<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!-- 댓글 작성 폼 -->
        <form>
            <!-- 닉네임 입력 -->
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>
            <!-- 댓글 본문 입력 -->
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea class="form-control" rows="3" id="new-comment-body"></textarea>
            </div>
            <!-- 히든 인풋 -->
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <!-- 전송 버튼 -->
            <button type="button" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>

<script>
    {
        // 댓글 생성 버튼 변수화
        const commentCreateBtn = document.querySelector("#comment-create-btn");

        // 댓글 클릭 이벤트 감지
        commentCreateBtn.addEventListener("click", function() {
            // 새 댓글 객체 생성
            const comment = {
                nickname: document.querySelector("#new-comment-nickname").value,
                body: document.querySelector("#new-comment-body").value,
                articleId: document.querySelector("#new-comment-article-id").value
            };

            // 댓글 객체 출력
            console.log(comment); // 콘솔에 출력

            const url = "/api/articles/" + comment.articleId + "/comments";

            // fetch() -> 비동기 통신을 위한 API
            fetch(url, {
                method: "POST", // POST 요청
                headers: {
                    "Content-Type": "application/json" // 전송 본문의 데이터 타입(JSON) 정보
                },
                body: JSON.stringify(comment) // comment 객체를 JSON 문자열로 변환해 전송
            })
            .then(response => {
                if (response.ok) {
                    // 댓글 등록 성공
                    alert("댓글이 등록됐습니다.");
                } else {
                    // 댓글 등록 실패
                    alert("댓글 등록 실패.. 서버 응답 상태: " + response.status);
                }
                // 현재 페이지 새로 고침
                window.location.reload();
            })
            .catch(error => {
                console.error("댓글 등록 중 오류 발생:", error);
                alert("댓글 등록 중 오류가 발생했습니다.");
            });
        });
    }
</script>
